.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    background-color: bisque;

}

.swipeButtons_repeat{
    color:rgb(144, 127, 218) !important;
}
.swipeButtons_left{
    color:rgb(221, 88, 117) !important;
}
.swipeButtons_star{
    color: rgb(240, 133, 12) !important;
}
.swipeButtons_right{
    color: rgb(238, 11, 11) !important;
}
.swipeButtons_lightning{
    color: rgb(10, 223, 38) !important;
}